#copyButton,
#helpMessage {
    -fx-text-fill: white;
}

#copyButton {
    -fx-background-color: #232323;
}

#copyButton:hover {
    -fx-background-color: #282828;
}

#copyButton:armed {
    -fx-background-color: #232323;
}

#helpMessageContainer {
    -fx-background-color: #181a1b;
}
